.main-pane {
  flex: 1;
  padding: 25px;
  justify-content: center;
}

.right-pane {
  background-color: #fafbfd;
    flex: 1;
  padding: 25px;
  justify-content: center;
}

.edit-pane {
  display: flex;
  flex: 1;
  padding: 25px;
  justify-content: center;
}

.edit-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  margin: 0.5em 0 2em;
}

.edit-title {
  margin: 0.5em 0 2em;
  text-align: center;
}

.preview-text {
  margin-bottom: 10em;
}

.preview-box {
  border: 0;
  padding: 15px;
  margin-bottom: 2em;
  font-size: 14px;
  height: 12em;
  resize: none;
}