.prompt-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.prompt-label {
  padding: 10px 0;
  color: #5e5e6a;
}

.prompt-input {
  padding: 15px;
  border: 0;
  border-radius: 10px;
}